* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: lightblue;
    padding: 20px;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.hero-content button {
    padding: 12px 24px;
    font-size: 1rem;
}
@media (max-width: 768px) {
    .hero{
        min-height: 50vh;
        padding: 10px;

    }
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}